@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 160 33% 97%;
    --foreground: 220 9% 26%;
    --card: 0 0% 100%;
    --card-foreground: 220 9% 26%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 9% 26%;
    --primary: 162 45% 55%;
    --primary-foreground: 220 9% 15%;
    --secondary: 160 33% 92%;
    --secondary-foreground: 220 9% 26%;
    --muted: 160 33% 92%;
    --muted-foreground: 220 9% 45%;
    --accent: 139 52% 84%;
    --accent-foreground: 220 9% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 160 30% 88%;
    --input: 160 30% 92%;
    --ring: 162 45% 55%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 13% 10%;
    --foreground: 0 0% 98%;
    --card: 220 13% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 220 13% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 162 45% 61%;
    --primary-foreground: 220 9% 15%;
    --secondary: 220 13% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 13% 18%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 139 40% 70%;
    --accent-foreground: 220 9% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 18%;
    --input: 220 13% 18%;
    --ring: 162 45% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
